/* reset styles */

* {
    margin: 0px;
    padding: 0px;
  }
  
  /* begin styles */
  
  body {
    background-color: orange;
  }
  #name {font-family: 'Rye', cursive;
    margin-top: 1.5em;
      margin-left: 10%;
      margin-bottom: 1em;
      margin-right: 30%;
    
    font-size: 3em;
    color:rgb(246, 249, 253)}
   
    #exercises {font-family: 'Ceviche One', cursive;
      font-size:35px;
      margin-top: 1em;
      margin-left: 10%;
      margin-bottom: 0.25em;
      margin-right: 30%;
      color:orange;
      background-color:white;
      padding: 0.3em;
    opacity:0.95; }
    
    #weekly-exercises {font-family: 'Ceviche One', cursive;
      font-size:35px;
      margin-top: 1em;
      margin-left: 10%;
      margin-bottom: 0.25em;
      margin-right: 30%;
      
      background-color:white;
      padding: 0.3em;
      color:orange;
      opacity:0.95;
    }
  
    
    #projects {font-family: 'Ceviche One', cursive;
      font-size:35px;
      margin-top: 1em;
      margin-left: 10%;
      margin-right: 30%;
      margin-bottom: 0.25em;
      color:orange;
      background-color:white;
      padding: 0.3em;
      opacity:0.95;}

      #bio{font-family: 'Emilys Candy', cursive;
           font-size:25px;
          color:white; 
          margin-left: 15%;
          margin-top: 0.2em;
          
          margin-bottom: 2em;
          
      }

      .section {font-family: 'Sedgwick Ave', cursive;
        font-family: 'Emilys Candy', cursive;
           font-size:20px;
          color:white; 
          margin-left: 20%;
          margin-top:0.8em;
          margin-bottom: 1em;
      }