
body {
    background-image: linear-gradient(rgba(70, 11, 97, 0.959),black);
   
    color: rgb(171, 215, 241);-webkit-font-smoothing: antialiased;
    font-size: 22px;
  }

.container { 
    max-width: 70%;
    margin: 0 auto;
    
  }

  img {
    max-width: 100%;
  }

  body {
    
    font-size: 18px;
}
 h2 {
    font-size:30px;
    color: rgb(137, 64, 233);

 padding: 0.5em;
 font-weight: bold;
 
 margin-top: 2em;
}


#toc {
    position:fixed;
    top: 1em;
    right: 1em;
    
    padding: 0.5em;

  background-color: rgba(239, 178, 241, 0.479);
  
  
  
  /* maybe making the font size here smaller will help too */
  font-size: 15px;


   
 }


 #toc a {
    color: rgb(20, 224, 224);
    text-decoration: underline;
  }
  
  
#toc a:hover {
    color: rgb(137, 64, 233);
  }



.high {
    background-color: rgb(128, 212, 238);
    opacity: 0.7;
    color: rgb(142, 42, 160);
    font-family: 'BioRhyme', serif;
    padding: 0.5em;
    

    /* or pick a different color */
  }


h1 {
    /* here I'm making the title not bold (by default headings are always bold)
       centered, larger, tighter leading, and with some bottom space or margin */
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    line-height: 1.1;
    margin-bottom: 2em;
    color: rgb(23, 241, 231);
    font-family: 'Inknut Antiqua', serif;
  }
p{margin-left: 3em;
  line-height: 30px;
  font-family: 'Lora', serif;
  font-size: 18px;
  color:rgb(247, 233, 171);
  
 

}
h3 {
  font-size:25px;
  color: rgb(42, 154, 228);

padding: 0.5em;
font-weight: normal;
font-family: 'BioRhyme', serif;

margin-top: 2em;}
h4 {
  font-size:22px;
  color: rgb(243, 164, 226);
  margin-left: 3em;
  font-family: 'BioRhyme', serif;

  
font-weight: normal;

margin-top: 2em;}
  

  
img.profile {
  max-width: 250px;
  margin-left: 4em;
}
#mu {font-size:15px;
  color: rgb(20, 224, 224);

padding: 0.5em;
font-weight: normal;
font-family: 'BioRhyme', serif;
}

#Bio {  font-size:30px;
  font-family: 'Inknut Antiqua', serif;
  
  color: rgb(137, 64, 233);

padding: 0.5em;
font-weight: bold;

margin-top: 2em;
}

#Conversation {font-size:30px;
  color: rgb(137, 64, 233);

padding: 0.5em;
font-weight: bold;

margin-top: 2em;
font-family: 'Inknut Antiqua', serif;}

#link{color: rgb(20, 224, 224);
  text-decoration: underline;}