body{
    background-color: lightblue;
    animation: body 60s alternate infinite;
}
@keyframes body {
    0% {background-color:  rgb(215, 239, 247)}
    15% {background-color: skyblue}
    20%{background-color:  rgb(135, 206, 235)}
     25%{background-color:  rgb(0, 191, 255)}
     30%{background-color:  rgb(0, 178, 228)}
     40%{background-color:  rgb(28,162,227)}
     45%{background-color:  rgb(107,166,249)}
     50%{background-color:  rgb(93, 137, 199)}
     60%{background-color:  rgb(93, 137, 199)}
     75%{background-color:  rgb(65, 93, 133)}
     85%{background-color:  rgb(49, 66, 88)}
     95%{background-color:  rgb(34, 44, 56)}
     100%{background-color:  rgb(23, 28, 34)}
     
       
  }

  #test{
      font-style: oblique;
      font-size: 100pt;
      animation: contrast 60s alternate infinite;
  }

  @keyframes contrast {
    0% {color: rgb(255, 123, 0);}
    50%{color: rgb(238, 102, 12);}
    65%{color: rgb(255, 145, 0);}
    100%{color: orange;}
  }