  /* reset styles */
  * {
    margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
    background: black;
}

/*.canvas{width: 500px;
    height: 300px;
    position: relative;
        
        background-color:white;
    }*/

    .Btv{
        /*外框*/
        width: 550px;
        height: 350px;
        background-color: lightpink;
        /*middle*/
        margin: 0 auto;
        position: relative;


    }

    .antenna{
        /*height: 50px;*/
        position: absolute;
        left: 200px;
        top:20px;
        width: 60px;
        height: 10px;
        background:lightblue;
        border-radius: 4px;
        float: left;
    }

    

    .antenna_one{
        transform: rotate(45deg);
        left: 321px;
        top:61px;

    }

    .antenna_two{
        transform: rotate(-45deg);
        left: 409px;
        top:61px;
    }

    .content{
        width: 240px;
        height: 160px;
        border:  20px solid lightblue;
        border-radius: 35px;
        background-color: white;
        position: absolute;
        left: 251px;
        top: 82px;

    }

    .content .eye{
        width: 60px;
        height:20px;
        background: lightblue;

    }

    .content .eye_one{
        transform: rotate(170deg);
        position: absolute;
        left: 34px;
        top: 30px;

    }

    .content .eye_two{
        transform: rotate(11deg);
        position: absolute;
        left: 146px;
        top: 30px;


    }

    .content .mouth{
        width: 20px;
        height: 10px;

    }

    .content .mouth_one{
        position: absolute;
        left: 82px;
        top: 105px;
        border: 10px solid lightblue;
        border-radius: 0 0 50% 50%/0 0 100% 100%;
        border-top: none;

    }

    .content .mouth_two{
        position: absolute;
        left: 112px;
        top: 105px;
        border: 10px solid lightblue;
        border-radius: 0 0 50% 50%/0 0 100% 100%;
        border-top: none;

    }

    .foot{
        width: 20px;
        height: 20px;
        border-radius: 0 0 40px 40px;
        background-color: lightblue;

    }

    .foot_one{
        position: absolute;
        left: 313px;
        top: 277px;

    }

    .foot_two{
        position: absolute;
        left: 452px;
        top: 277px;


    }