.mother{
    width: 50px;
    height:50px;
    background: rgb(185, 126, 224);
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-60px;
    margin-left:-50px;
  animation-name: ex;
  animation-duration: 1.5s;
   animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin:center center;
}

  .mother:hover{
    border-radius: 50%;
    
}
img{ 
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-271px;
    margin-left:-273px;

}

body {
    background-color: rgb(247, 247, 247);
    animation-name: color ;
  animation-duration: 4s;
  animation-iteration-count: 1;

}

@keyframes ex {
    0%   {transform:scale(1); background: rgb(185, 126, 224);}
    25%  {transform:scale(6); background-color: rgb(245, 19, 106);}
    50%  {transform:scale(2); background: rgb(201, 51, 181);}
    100% {transform:scale(4); background-color: rgb(200, 97, 231); }
  }

  @keyframes color {
    0%   {background: rgb(247, 247, 247);}
   50% {background-color: rgb(7, 7, 7)};
   100% {background: rgb(247, 247, 247);}
  }

